* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-title-border-color: #746615;
  --card-color-primary: #f7dd43;
}

body.blue {
  --card-title-border-color: #338af3;
  --card-color-primary: #338af3;
}

body.green {
  --card-title-border-color: #35875d;
  --card-color-primary: #35875d;
}

body * {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #121214;
  background-image: url(./assets/bg.svg);

  background-size: 100%;
  background-repeat: no-repeat;
}

body * {
  font-family: "Roboto", sans-serif;
}

#fases {
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #35875d;
}

ul {
  list-style: none;
}

#app {
  width: fit-content;
  margin: 52px auto;
  max-width: 1400px;
  text-align: center;
}

header {
  margin-bottom: 63px;
  text-align: center;
}
#cards {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 32px 32px;
  text-align: center;

  background: #030305;
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}
.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul li img {
  width: 50px;
  height: 50px;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  opacity: 0;
  animation: appear 2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
